*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

.container{
    padding: 10px;
    background-color: red;
    max-width: 700px;
    margin: 50px auto;
}.btn{
    border:none;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-add{
    background: #194064;
    color: white;
}

.addContaine{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.addContaine form{
    width:420px ;
    background-color: white ;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    box-sizing: 5px 5px 10px rgba(0, 0, 0, 0.2) ;
    border-radius: 5px ;
}

.addContaine form label {
    font-size: 18px;
    padding: 5px;
    margin-top: 5px ;
    margin-bottom: 10px;
}

.addContaine form input {
    font-size: 18px;
    padding: 5px;
    margin-top: 5px ;
    margin-bottom: 10px;
}


